.seconds-counter {
    display: flex;
    align-items: center;
    background-color: #222;
    padding: 10px;
    color: #fff;
  }
  
  .clock-icon {
    margin-right: 10px;
  }
  
  .counter {
    display: flex;
  }
  
  .digit-box {
    background-color: #333;
    color: #fff;
    font-size: 24px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
  }
  
  .seconds-counter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  body {
    margin: 0;
    padding: 0;
    background-color: #333;
  }